<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <form method="POST" id="createForm" action="{{ url_for('create_acc') }}" class="verticalcenter">
        <img src="/static/anitracker.png" alt="logo" class="image">
        <h1 id="header">Create Account</h1>
        <h3 class="error" id="header">{{ error }}</h3>
        <label for="username">Username: </label>
        <input type="text" name="username" placeholder="Input new username here..." class="input">
        <br>
        <label for="password" id="passwordlabel">Password: </label>
        <input type="password" name="password" placeholder="Input newpassword here..." class="input">
        <br>
        <input type="submit" name="action" value="Create account" class="button" id="homepagebutton"/>
        <br>
        <br>
        <p>Don't want to create an account? Click <a href="{{ url_for('index') }}">here</a>.</p>
    </form>

    <script>
        // Used to cancel form submission if the user tries to press enter. 
        //This is used so no unexpected scenarios occur.
        document.getElementById('createForm').addEventListener('submit', function(event) {
            trigger = document.activeElement;
            if (!trigger || trigger.tagName !== 'INPUT' || trigger.getAttribute('type') !== 'submit') {
                event.preventDefault(); 
            }
        });
    </script>
</body>

</html>